* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,500;1,500&display=swap');
body {
  margin: 0;
  background: #eee;
  font-family: 'Besley', serif;
}

.header {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.25);
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.links-container {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.link-item {
    font-size: 1.5rem;
    color: purple;
}

.logo-container h1 {
    font-size: 2rem;
    font-family: 'Besley', serif;
    color: purple;
    font-style: italic;
}

.purple-box {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: purple;
}

.button {
    padding: 0.5em 1em;
    border: none;
    background-color: purple;
    color: #fafafa;
    outline: none;
    border-radius: 0.5rem;
}


